@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
} */

:root {
  --background: oklch(0.9843 0.0017 247.8393);
  --foreground: oklch(0.3011 0.0398 263.6973);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3011 0.0398 263.6973);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3011 0.0398 263.6973);
  --primary: oklch(0.5096 0.1483 253.4619);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.3011 0.0398 263.6973);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5825 0.0392 256.8120);
  --accent: oklch(0.9166 0.0266 248.1179);
  --accent-foreground: oklch(0.3011 0.0398 263.6973);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.9034 0.0111 255.0179);
  --input: oklch(0.9034 0.0111 255.0179);
  --ring: oklch(0.5096 0.1483 253.4619);
  --chart-1: oklch(0.5096 0.1483 253.4619);
  --chart-2: oklch(0.6381 0.1987 15.3882);
  --chart-3: oklch(0.8775 0.1639 97.2864);
  --chart-4: oklch(0.6610 0.1560 154.8128);
  --chart-5: oklch(0.5905 0.2097 303.5671);
  --sidebar: oklch(0.9843 0.0017 247.8393);
  --sidebar-foreground: oklch(0.3011 0.0398 263.6973);
  --sidebar-primary: oklch(0.5096 0.1483 253.4619);
  --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-accent: oklch(0.9166 0.0266 248.1179);
  --sidebar-accent-foreground: oklch(0.3011 0.0398 263.6973);
  --sidebar-border: oklch(0.9034 0.0111 255.0179);
  --sidebar-ring: oklch(0.5096 0.1483 253.4619);
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(220 30% 20%);
  --shadow-2xs: 0px 5px 15px 0px hsl(220 30% 20% / 0.03);
  --shadow-xs: 0px 5px 15px 0px hsl(220 30% 20% / 0.03);
  --shadow-sm: 0px 5px 15px 0px hsl(220 30% 20% / 0.05), 0px 1px 2px -1px hsl(220 30% 20% / 0.05);
  --shadow: 0px 5px 15px 0px hsl(220 30% 20% / 0.05), 0px 1px 2px -1px hsl(220 30% 20% / 0.05);
  --shadow-md: 0px 5px 15px 0px hsl(220 30% 20% / 0.05), 0px 2px 4px -1px hsl(220 30% 20% / 0.05);
  --shadow-lg: 0px 5px 15px 0px hsl(220 30% 20% / 0.05), 0px 4px 6px -1px hsl(220 30% 20% / 0.05);
  --shadow-xl: 0px 5px 15px 0px hsl(220 30% 20% / 0.05), 0px 8px 10px -1px hsl(220 30% 20% / 0.05);
  --shadow-2xl: 0px 5px 15px 0px hsl(220 30% 20% / 0.13);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1371 0.0360 258.5258);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.1371 0.0360 258.5258);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.1371 0.0360 258.5258);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.6758 0.1453 238.4620);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2800 0.0369 259.9740);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.6758 0.1453 238.4620);
  --chart-1: oklch(0.6758 0.1453 238.4620);
  --chart-2: oklch(0.6381 0.1987 15.3882);
  --chart-3: oklch(0.8775 0.1639 97.2864);
  --chart-4: oklch(0.6610 0.1560 154.8128);
  --chart-5: oklch(0.5905 0.2097 303.5671);
  --sidebar: oklch(0.1371 0.0360 258.5258);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.6758 0.1453 238.4620);
  --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-accent: oklch(0.2800 0.0369 259.9740);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.2800 0.0369 259.9740);
  --sidebar-ring: oklch(0.6758 0.1453 238.4620);
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(210 40% 98%);
  --shadow-2xs: 0px 5px 15px 0px hsl(210 40% 98% / 0.03);
  --shadow-xs: 0px 5px 15px 0px hsl(210 40% 98% / 0.03);
  --shadow-sm: 0px 5px 15px 0px hsl(210 40% 98% / 0.05), 0px 1px 2px -1px hsl(210 40% 98% / 0.05);
  --shadow: 0px 5px 15px 0px hsl(210 40% 98% / 0.05), 0px 1px 2px -1px hsl(210 40% 98% / 0.05);
  --shadow-md: 0px 5px 15px 0px hsl(210 40% 98% / 0.05), 0px 2px 4px -1px hsl(210 40% 98% / 0.05);
  --shadow-lg: 0px 5px 15px 0px hsl(210 40% 98% / 0.05), 0px 4px 6px -1px hsl(210 40% 98% / 0.05);
  --shadow-xl: 0px 5px 15px 0px hsl(210 40% 98% / 0.05), 0px 8px 10px -1px hsl(210 40% 98% / 0.05);
  --shadow-2xl: 0px 5px 15px 0px hsl(210 40% 98% / 0.13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
